WindowsFormsApp_ServiceRecipe/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceRecipe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceRecipe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowAll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowAll" nillable="true" type="tns:ShowAll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowAll" nillable="true" type="tns:ArrayOfShowAll" />
  <xs:complexType name="ShowAll">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodID" type="xs:int" />
      <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowAll" nillable="true" type="tns:ShowAll" />
  <xs:complexType name="SearchAndUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodID" type="xs:int" />
      <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchAndUpdate" nillable="true" type="tns:SearchAndUpdate" />
  <xs:complexType name="AddData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RawMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddData" nillable="true" type="tns:AddData" />
  <xs:complexType name="DeleteData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteData" nillable="true" type="tns:DeleteData" />
</xs:schema>