WindowsFormsApp_ServiceRecipe/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52504/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceRecipe" />
  <xs:element name="ShowAllFoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllFoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="ShowAllFoodsResult" nillable="true" type="q1:ArrayOfShowAll" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFoodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input_foodname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFoodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="SearchFoodNameResult" nillable="true" type="q2:SearchAndUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="add_data_food" nillable="true" type="q3:AddData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataFoodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="update_data_food" nillable="true" type="q4:SearchAndUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataFoodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataFood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="delete_data_food" nillable="true" type="q5:DeleteData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataFoodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>