WindowsFormsApp_ServiceRecipe/Connected Services/ServiceRecipe/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52504/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceRecipe" />
  <xs:element name="GetAllFoodName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFoodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="GetAllFoodNameResult" nillable="true" type="q1:ArrayOfGetAllFoodName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFoodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputfoodname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFoodNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="SearchFoodNameResult" nillable="true" type="q2:Recipes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="addfoodname" nillable="true" type="q3:Recipes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoodNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="updatefoodname" nillable="true" type="q4:Recipes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoodNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFoodName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceRecipe" minOccurs="0" name="foodname" nillable="true" type="q5:RecipesDelete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFoodNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>