WindowsFormsApp_ServiceRecipe/Connected Services/ServiceWikiFood/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52504/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52504/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52504/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceRecipe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ShowAllFoods_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllFoods" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowAllFoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllFoodsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchFoodName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFoodName" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchFoodName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFoodNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataFood_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataFood" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDataFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDataFood_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataFood" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateDataFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataFoodResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDataFood_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataFood" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteDataFood_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataFoodResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ShowAllFoods">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowAllFoods" message="tns:IService1_ShowAllFoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowAllFoodsResponse" message="tns:IService1_ShowAllFoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFoodName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchFoodName" message="tns:IService1_SearchFoodName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchFoodNameResponse" message="tns:IService1_SearchFoodName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDataFood" message="tns:IService1_AddDataFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDataFoodResponse" message="tns:IService1_AddDataFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateDataFood" message="tns:IService1_UpdateDataFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateDataFoodResponse" message="tns:IService1_UpdateDataFood_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataFood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteDataFood" message="tns:IService1_DeleteDataFood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteDataFoodResponse" message="tns:IService1_DeleteDataFood_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowAllFoods">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowAllFoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchFoodName">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchFoodName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataFood">
      <soap:operation soapAction="http://tempuri.org/IService1/AddDataFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataFood">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateDataFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataFood">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteDataFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:52504/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>